In [1]:
!pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector in c:\users\hp\appdata\roaming\python\python310\site-packages (2.2.9)

In [8]:
import mysql.connector
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="python"
)
db = database.cursor()

In [9]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 44, 33, 22, 120, 43.0, 'f')

In [15]:
db.execute("SELECT name,grade,total,per FROM student")
result =db.fetchall()
for x in result:
    print(x)

('Ram', 'f', 120, 43.0)

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="python"
)

mycursor = mydb.cursor()
sql = "INSERT INTO profile (name, address) VALUES(‘Ram’,’kathmandu’)"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record inserted.")