In [1]:
# indexing
# multiple data
# ordered
# mutable

In [2]:
# d = {<key>:<value>,<key>:<value>}

In [3]:
# d = dict()
# d = {}
# defining empty dictionary

In [4]:
d = {}
d['a']="apple"
d['b']="ball"
d

{'a': 'apple', 'b': 'ball'}

In [5]:
a ={'a':"apple",'b':"ball",'c':"cat"}
a['b']="Apple"
a

{'a': 'apple', 'b': 'Apple', 'c': 'cat'}

In [7]:
a = {'a':"apple",'b':"ball",'c':"cat"}
a['d']="cammel"
a

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'cammel'}

In [8]:
a = {'a':"apple",'b':"ball",'c':"cat"}
for i in a:
    print(i)

a
b
c

In [9]:
a = {'a':"apple",'b':"ball",'c':"cat"}
for i in a.values():
    print(i)

apple
ball
cat

In [10]:
a = {'a':"apple",'b':"ball",'c':"cat"}
for i in a.items():
    print(i)

('a', 'apple')
('b', 'ball')
('c', 'cat')

In [11]:
d = {}
n = int(input("enter the value n: "))
for i in range(n):
    name = input("enter the name: ")
    ph_no =int(input("enter the phone number: "))
    d[name]=ph_no
print(d)

enter the value n: 3
enter the name: mahesh
enter the phone number: 8888
enter the name: naresh
enter the phone number: 999
enter the name: disnesh
enter the phone number: 888
{'mahesh': 8888, 'naresh': 999, 'disnesh': 888}

In [12]:
# no + *

In [14]:
a = {'a':"apple",'b':"ball",'c':"cat"}
b = {'d':"cammel",'e':"egg"}
b.update(a)
b

{'d': 'cammel', 'e': 'egg', 'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [15]:
c = {'d': 'cammel', 'e': 'egg', 'a': 'apple', 'b': 'ball', 'c': 'cat'}
del a['a']
a

{'b': 'ball', 'c': 'cat'}

In [18]:
a = {'d': 'cammel', 'e': 'egg', 'a': 'apple', 'b': 'ball', 'c': 'cat'}
b = a.pop("a")
print(a)
b

{'d': 'cammel', 'e': 'egg', 'b': 'ball', 'c': 'cat'}

'apple'

In [19]:
# list inside dictionary

In [20]:
a = {'ram':[9990909090,989898080],'hari':[998989999,998989898]}
a

{'ram': [9990909090, 989898080], 'hari': [998989999, 998989898]}

In [21]:
a['ram'][0]

9990909090

In [22]:
a['ram'][1]=998989898998
print(a)

{'ram': [9990909090, 998989898998], 'hari': [998989999, 998989898]}

In [23]:
d = {}
n = int(input("enter the value n: "))
for i in range(n):
    name = input("enter the name: ")
    ph_no1 =int(input("enter the phone number: "))
    ph_no2 =int(input("enter the phone number: "))
    d[name]=[ph_no1,ph_no2]
print(d)

enter the value n: 2
enter the name: ram
enter the phone number: 8888
enter the phone number: 99999
enter the name: shyam
enter the phone number: 9998
enter the phone number: 9990
{'ram': [8888, 99999], 'shyam': [9998, 9990]}

In [25]:
a = {'a':"apple",'b':"ball",'c':"cat"}

In [27]:
data = {'name':["ram","shyam","hari"],
       'age':[22,33,44],
        "add":["dhangadi","doti","tikapur"]}
print(data['name'][0])
print(data['age'][0])
print(data['add'][0])

ram,
22
dhangadi

In [3]:
data = {'name':["ram","shyam","hari"],
       'age':[22,33,44],
        "add":["dhangadi","doti","tikapur"]}
i=0
while i <= data[i]:
    if 'ram'==i:
        print(data['name'][i])
        print(data['age'][i])
        print(data['add'][i])
    i+=1

KeyError: 0

In [8]:
data = {'name':["ram","shyam","hari"],
       'age':[22,33,44],
        "add":["dhangadi","doti","tikapur"]}
c=0
for i in data['name']:
    if "shyam"==i:
        print(data['name'][c])
        print(data['age'][c])
        print(data['add'][c])
    c+=1

shyam
33
doti

In [2]:
# wap to create dict inside dict with crud
# wap to create list inside dict with crud
# wap to create dict inside iist with crud

In [1]:
# wap to create list inside dict with crud
d = {'name':[], 'age':[],'add':[]}
n = int(input("enter n: "))
for i in range(n):
    name = input("enter name: ")
    age = int(input("Enter age: "))
    add = input("enter add: ")
    d['name'].append(name)
    d['age'].append(age)
    d['add'].append(add)
print(d)

enter n: 3
enter name: mahesh
Enter age: 5
enter add: 3
enter name: naresh
Enter age: 4
enter add: 5
enter name: suresh
Enter age: 4
enter add: 5
{'name': ['mahesh', 'naresh', 'suresh'], 'age': [5, 4, 4], 'add': ['3', '5', '5']}

In [ ]:
# wap to create dict inside dict with crud
d = []
n = int(input("enter n: "))
for i in range(n):
    name = input("Enter tha name: ")
    age = int(input("Enter age: "))
    add = input("Enter add: ")
    data = {'name':name,'age':age,'add':add}
    d.append(data)
print(d)

In [ ]:
d = {}
n = int(input("enter n: "))
for i in range(n):
     name = input("Enter tha name: ")
    age = int(input("Enter age: "))
    add = input("Enter add: ")
    d[i] = {'name':name,'age':age,'add':add}
print(d)