In [1]:
print('kale')

kale

In [2]:
x = float(1)
y = int(2.8)
z = complex(1)
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [1]:
this=['banana','kale','kera']
print(this[2])
type(this)

kera

list

In [9]:
a="hello wOrld"
print(a.lower())

hello world

In [13]:
a="          hello world"
print(a.strip())

hello world

In [15]:
apple=12
banana=13
watermelon=11
this='I have {1} apples {2} banana {0} watermelon'
print(this.format(apple,banana,watermelon))

I have 13 apples 11 banana 12 watermelon

In [16]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (4013392309.py, line 1)

In [18]:
d=True
print(d)

True

In [25]:
a=12
b=13
if a>b:
      print("true")
else:
    print("false")
print(type(b))

false
<class 'int'>

In [28]:
a=15
b=14 
c=a//b
print(c)

1

In [3]:
list=["banana","apple","orange"]
list.pop("apple")
print(list)

TypeError: 'str' object cannot be interpreted as an integer

In [11]:
M = ("banana","mango","apple")
y= tuple(M)
y[1] = "kiwi"
M = tuple(y)
print(M)

TypeError: 'tuple' object does not support item assignment

In [10]:
x = ("apple", "banana", "cherry")
y = list(x)
y[-1] = "kiwi"
x = tuple(y)

print(x)

TypeError: 'list' object is not callable

In [1]:
x =(1,3,4)
y=x[:2]+(5,6,7)
print(y)

(1, 3, 5, 6, 7)

In [4]:
a="hello world"
b=a.replace("hello","hi")
print(b)

hi world

In [5]:
a=True
b=False
c=a+b
print(c)

1

In [6]:
a=True
b=False
c=a*b
print(c)

0

In [11]:

a,b,c=input().split()
print(a+b+c)

a

ValueError: not enough values to unpack (expected 3, got 1)

In [12]:
a, b = map(int, input().split())
print(a+b)

1

ValueError: not enough values to unpack (expected 2, got 1)

In [13]:
a=input()
b=input()
print(a+b)

10
10
1010

In [14]:
a=10.3
b=20
print(a+b)

30.3

In [15]:
a=int(input())
b=int(input())
print(a+b)

10
10
20

In [ ]:
Type casting
#int() str() float()

In [4]:
a,b,c=input().split()
print(a)
print(b)
print(c)

2

ValueError: not enough values to unpack (expected 3, got 1)

In [8]:
nepali=int(input("enter the marks "))
physics=int(input('enter the marks '))
chem=int(input('enter the marks '))
total= nepali+ physics+chem
per=total/3
print('total',total)
print("percentage",round(per,2))

enter the marks 22
enter the marks 33
enter the marks 2
total 57
percentage 19.0

In [6]:
def add_numbers(x,y):
   print(x+y) 
add_numbers(3,4)

7

In [10]:
def my_child(*kids):
    print(kids[2])
    
my_child("ramesh" ,"suresh" ,"dinesh")

dinesh

In [13]:
def my_child(child1,child2,child3):
    print(child1," ","is my fav child")
my_child(child1="ramesh",child2="dinesh",child3="kartik")

ramesh   is my fav child

In [3]:
#python class 4 conditionl statement

In [11]:
#syntax of if else statement
#if condition:
 #   <condition>
#elif condition:
  #  <condition>
#else:
 #   <operation>

In [ ]:
# < > <= >= !=

In [16]:
x = int(input("enter a number :"))
if x>=0:
    print("no is positive")
else:
    print("no is negative")

enter a number :44
no is positive

In [17]:
a = int(input("Enter the vale of a:"))
b = int(input("Enter the value of b:"))

if a>b:
    print(a,"is greater then",b)
elif b>a:
    print(b,"is greater then",a)
else:
    print("both are equal")

Enter the vale of a:12
Enter the value of b:13
13 is greater then 12

In [21]:
physics =int(input("Enter the marks in physics:"))
math =int(input("Enter the marks in math:"))
nepali =int(input("Enter the marks in nepali:"))
total=physics+math+nepali
per=total/3
if per>70:
    grade="A"
elif per>50:
    grade="B"
else:
    grade="C"
print("your total marks is :",total)
print("your percentage is :",per)
print("your grade is:",grade)

Enter the marks in physics:30
Enter the marks in math:90
Enter the marks in nepali:90
your total marks is : 210
your percentage is : 70.0
your grade is: B

In [ ]:
#logical operator and&
#or/

In [7]:
a = int(input("Enter a number:"))
b = int(input("Enter a number:"))
c = input("Enter a +-*/")
if c=="+":
    print(a+b)
elif c=="-":
    print(a-b)
elif (c=="/") & (b!=0):
    print(a/b)
elif (c=="/") & (b==0):
    print('chose b other then 0')
elif c=="*":
    print(a*b)
else:
    print("invalid calculation")

Enter a number:9
Enter a number:0
Enter a +-*//
chose b other then 0

In [ ]:
#nested if
# if<conditon>:
#     if<condition>:
#         <statement>
#     else:<statement> 
# else:
#     if<conditoin>:
#     else:<conditon>

In [16]:
# loops in python

In [28]:
for i in range(8,0,-2):
    print(i,"hello world")

8 hello world
6 hello world
4 hello world
2 hello world

In [38]:
for i in range(5):
    if i==3:
        break
    print(i,"hello world",end="  ")

0 hello world  1 hello world  2 hello world

In [31]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [40]:
n = int(input("enter a number:"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter a number:12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [2]:
for i in range(0,8,-2):
    if i==6:
        break
    print(i)

In [ ]:
s=0
for i in range(3):
    x=int(input("enter the value="))
    s=s+x
    print(s)

In [1]:
s=0
n=int(input("enter the value of n:"))
for i in range(n):
    x=int(input("enter the value="))
    s=s+x
    print(s)

enter the value of n:3
enter the value=5
5
enter the value=7
12
enter the value=9
21

In [ ]:
#Wap to calculate factorial
#wap to calculate grade of multiple students
#wap to create a billing system
------name,price,quantity,total

In [ ]:
n = int(input("Enter the no of student"))
for i in range(n):
    student_name=input("Enter the name of student or exit")
    if student_name=="exit":
        break
    physics=int(input("enter marks obtains in physics:"))
    maths=int(input("enter marks obtains in maths:"))
    biology=int(input("enter marks obtains in biology:"))
    nepali=int(input("enter marks obtains in nepali:"))
    total=physics+maths+nepali+biology
    per=total/4
    if per>=90:
        print("student has got A+")
    elif per>=80:
        print("student has got A")
    elif per>=70:
        print("student has got B+")
    elif per>=60:
        print("student has got B")
    elif per>=50:
        print("student has got C+")
    elif per>=400:
        print("student has got C")
    else:print("student is fail")

In [ ]:
total=0
n=int(input("Enter the no of product"))
for i in range(n):
        product=input("Enter the name of product or exit:")
        if product=="exit":
            break
        cost=int(input("Enter the price:"))
        quantity=int(input("Enter the quantity:"))
        price=cost*quantity\
        print(price)
        total=total+price
print("Your total bill is: ",total)

In [ ]:
s=1
n=int(input("enter a number:"))
for i in range(1,n+1):
    s=s*i
    print(s)

In [ ]:
info=""
n=int(input("enter n:"))
for i in range(n):
    name=input("enter the name of product:")
    price=int(input("enter the price of product:"))
    quantity=float(input("enter the quantity of product:"))
    total=price*quantity
    data=name+" "+str(price)+" "+str(quantity)+" "+str(total)+"\n"
    info=info+data
    print(info)

enter n:3
enter the name of product:x
enter the price of product:12
enter the quantity of product:2
x 12 2.0 24.0