In [ ]:
# python collection
# list
# tuple
# dic
# set

In [ ]:
# list
# indexing
# multiple and duplicate
# mutable

In [2]:
a = ["apple","banana","mango"]
b = [1,2,3,5,6,7,7]
     
print(a[0])
print(a[:3])
print(b[3:7])
print(len(b))

apple
['apple', 'banana', 'mango']
[5, 6, 7, 7]
7

In [1]:
a = ["apple","ball","cat","dog"]
b = [1,2,3,5,6,7,7]
print(a*2)
print(b*2)

['apple', 'ball', 'cat', 'dog', 'apple', 'ball', 'cat', 'dog']
[1, 2, 3, 5, 6, 7, 7, 1, 2, 3, 5, 6, 7, 7]

In [3]:
a = []
b=a+["mahesh"]
c=b+["satya"]
c

['mahesh', 'satya']

In [6]:
a = []
n = int(input("enter the value of n: "))
for i in range(n):
    x = int(input("enter the vlaue of x: "))
    a=a+[x]
print(a)

enter the value of n: 3
enter the vlaue of x: 4
enter the vlaue of x: 5
enter the vlaue of x: 6
[4, 5, 6]

In [7]:
a = [1,3,5,66,7,8,8]
print("the max value = ",max(a))
print("the min value = ",min(a))
print("the sum = ",sum(a))

the max value =  66
the min value =  1
the sum =  98

In [8]:
a = [22,3,355,66,778,888,9995,554,45,66]
a.sort()
print(a)

[3, 22, 45, 66, 66, 355, 554, 778, 888, 9995]

In [9]:
a.reverse()
print(a)

[9995, 888, 778, 554, 355, 66, 66, 45, 22, 3]

In [12]:
a = ["ap'small'ple","ball","cat","appy"]
a.sort()
print(a)
a.append("naresh")
print(a)

["ap'small'ple", 'appy', 'ball', 'cat']
["ap'small'ple", 'appy', 'ball', 'cat', 'naresh']

In [13]:
# data entry
# append() insert() extend()
#  delete value
# del remove() pop()

In [16]:
a = []
n = int(input("enter the value of n: "))
for i in range(n):
    x = (input("enter the vlaue of x: "))
    a.append(x)
print(a)

enter the value of n: 3
enter the vlaue of x: ff
enter the vlaue of x: 55
enter the vlaue of x: gg
['ff', '55', 'gg']

In [36]:
a = [0,2,3,4,5,6,9,69]
a.insert(1,1)
print(a)
a.pop(7)
print(a)
a.remove(69)
print(a)
b = [55,15,66,77,44]
a.extend(b)
print(a)
del a[0]
print(a)
a[5]=2
print(a)
a.index(4)

[0, 1, 2, 3, 4, 5, 6, 9, 69]
[0, 1, 2, 3, 4, 5, 6, 69]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 55, 15, 66, 77, 44]
[1, 2, 3, 4, 5, 6, 55, 15, 66, 77, 44]
[1, 2, 3, 4, 5, 2, 55, 15, 66, 77, 44]

3

In [41]:
a =["Zebra","lion","apple","Zebra"]
for i in range(len(a)):
    if a[i]=="Zebra":
        print(i)

0
3

In [43]:
a =["Zebra","lion","apple","Zebra"]
for i in range(len(a)):
    if a[i]=="Zebra":
        a[i]="zebra"
print(a)

['zebra', 'lion', 'apple', 'zebra']

In [12]:
a =["Zebra","lion","apple","Zebra"]
for i in range(len(a)-1):
    if a[i]=="Zebra":
        del a[i]
print(a)

['lion', 'apple']

In [5]:
a = [ "zebra","banana","cat","dog","zebra"]
l = a.count("zebra")
for i in range(l):
    a.remove("zebra")
print(a)

['banana', 'cat', 'dog']

In [3]:
a = [ "zebra","banana","cat","dog","zebra"]
a.index("banana")

1

In [12]:
# search
a = [ "zebra","banana","cat","dog","zebra"]
if "zebra" in a:
    print("yes")
    print(a.count("zebra"))
else:
    print("No")

yes
2

In [15]:
#list inside list(nested list)
a = [[1,3,4],
    [2,4,6],
    [4,5,6]]
print(a)
print(type(a))
print(a[0])

[[1, 3, 4], [2, 4, 6], [4, 5, 6]]
<class 'list'>
[1, 3, 4]

In [20]:
a = [[1,3,4],
    [2,4,6],
    [4,5,6]]
print(a[0])
print(a[0][0])
print(a[0][2])

[1, 3, 4]
1
4

In [26]:
a = [[1,3,4],
    [2,4,6],
    [4,5,6]]
a.append([22,3,4])
a

[[1, 3, 4], [2, 4, 6], [4, 5, 6], [22, 3, 4]]

In [24]:
a = [[1,3,4],
    [2,4,6],
    [4,5,6]]
a[0]=[3,4,5]
print(a)

[[3, 4, 5], [2, 4, 6], [4, 5, 6]]

In [1]:
a = [[1,3,4],
    [2,4,6],
    [4,5,6]]
a[0][0]=5
print(a)

[[1, 3, 4], [5, 4, 6], [4, 5, 6]]

In [6]:
a = [[1,3,4],
    [2,4,6],
    [4,5,6]]
for i in range(len(a)):
    x = int(input("Enter number in ="))
    a[i].insert(2,x)
print(a)

Enter number in =0
Enter number in =0
Enter number in =0
[[1, 3, 0, 4], [2, 4, 0, 6], [4, 5, 0, 6]]

In [3]:
a = [[1,3,4],
    [2,4,6],
    [4,5,6]]
n = int(input("enter the number: "))
for i in a:
    if n==i[1]:
          print(i)

enter the number: 5
[4, 5, 6]

In [18]:
info = [["ram",33,"laltpur"],
       ["hari",44,"kathmandu"],
       ["gopal",55,"bhaktapur"]]
name = input("enter the name; ")
for i in info:
    if name.lower()==i[0].lower():
        print(i)

enter the name; ram
['ram', 33, 'laltpur']