In [1]:
# set
# no indexing
# no ordering
# multiple value but no duplicate value
# mutable

In [12]:
s = set()
s = {6,7,8,3,4,5}
print(type(s))
print(s)

<class 'set'>
{3, 4, 5, 6, 7, 8}

In [13]:
s

{3, 4, 5, 6, 7, 8}

In [11]:
s = {"apple","ball","fish","dog"}
print(s)

{'dog', 'fish', 'ball', 'apple'}

In [16]:
s = {"apple","ball","fish","dog","apple","cat","fish"}
print(s)

{'fish', 'dog', 'apple', 'cat', 'ball'}

In [17]:
s=["apple","ball","fish","dog","apple","cat","fish"]
list(set(s))

['cat', 'ball', 'fish', 'dog', 'apple']

In [18]:
s = set()
s.add('apple')
s.add('ball')
s.add('cat')
s

{'apple', 'ball', 'cat'}

In [19]:
# in set no + *

In [20]:
a = {1,2,3,4,5,6,7}
b = {5,4,3,6,8}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
# no list inside set
# no dict inside set
# no set inside set

In [22]:
# tuple inside set
s = {(1,2,3)}

In [26]:
apple = {"ram","shyam","hari","james","steve"}
ms = {"satya","ram","shyam","bill"}
print(apple.intersection(ms))
print(apple.union(ms))
print(apple-ms)
print(ms-apple)
(apple-ms).union(ms-apple)

{'shyam', 'ram'}
{'james', 'hari', 'satya', 'steve', 'shyam', 'bill', 'ram'}
{'james', 'hari', 'steve'}
{'bill', 'satya'}

{'bill', 'hari', 'james', 'satya', 'steve'}

In [ ]:
# issubset()
# issuperset()