In [1]:
# Tuple
# indexing 
# multiple and duplicate data
# ordered 
# imutable

In [2]:
# a=type()
# a=()

In [3]:
a = [1]
type(a)

list

In [4]:
a = (1)
type(a)

int

In [5]:
a = (1,)
type(a)

tuple

In [8]:
a = (1,2,3,4,5,6,7,8,1) 
print(a[0])
print(a[:5])

1
(1, 2, 3, 4, 5)

In [11]:
a = (1,2,3,4)
b = (3,4,5,6)
print(a+b)

(1, 2, 3, 4, 3, 4, 5, 6)

In [12]:
a = (1,2,3,4)
print(a*3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [14]:
a = (1,2,3,4)
print(a.count(2))

1

In [13]:
# no append() insert() extend()
# no update 
# no delete remove() pop()del
# no sort()

In [18]:
# we can do max() min() sum() index()

In [22]:
a = ()
b = a + ("banana",)
c = b + ("cat",)
print(c)

('banana', 'cat')

In [17]:
t = ()
n = int(input("Enter n"))
for i in range(n):
    x=input("enter value for tuple: ")
    t=t+(x,)
print(t)

Enter n3
enter value for tuple: ram
enter value for tuple: shyam
enter value for tuple: hari
('ram', 'shyam', 'hari')

In [23]:
a = (1,2,3,4)
b = list(a)
del b[3]
a = tuple(b)
print(a)

(1, 2, 3)